 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }

 main {
     flex: 1 0 auto;
 }

 /* .background {
     background-image: url("../images/electrical-network-tech-blue-background-header");
     background-size: cover;
 } */